.profileBody {
  background-image: url("../Images/Fondo.png");
  /* max-height: 100%;
  min-height: 100vh;
  margin: 0;
  color: white; */
}

.profilerow {
  height: auto;
}

.color-profilesidebar {
  background-color: #212529;
  height: auto;
}

.color-trends {
  background-color: #212529d7;
  padding: 0%;
}
