.sildeBar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: large;
  padding: 15px;
  color: white;
  height: 100rem;
  position: sticky;
}

.create-style {
  background-color: #212529d7;
  height: auto;
  width: 100%;
  padding: 15px;
}

.card-style {
  height: auto;
  width: 100%;
  padding: 15px;
}

.likes-btn {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}

.trends-styles {
  height: 100rem;
  color: white;
}

.search-style {
  background-color: #212529;
  height: 100rem;
}

.shared-styles {
  background-color: #212529d7;
}

.btn-imagnBox {
  display: inline-block;
  position: relative;
}
.btn-imagen {
  position: absolute;
  border-radius: 1.5em;
  padding:1em 1.5em;
}
